<h1 mat-dialog-title>Nouveau</h1>
<div mat-dialog-content>
	<div class="row">
		<div class="col-md-12">
			<mat-form-field style="width:100%"> <input matInput
				placeholder="Titre" [(ngModel)]="newCourrier.titre"> </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<mat-form-field style="width:100%"> <textarea
				matInput placeholder="Description"
				[(ngModel)]="newCourrier.description"></textarea> </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<mat-form-field> <mat-select placeholder="Type"
				[(ngModel)]="newCourrier.type"> <mat-option
				value="Courrier Arriv&eacute;e">Courrier Arriv&eacute;e</mat-option>
			<mat-option value="Courrier D&eacute;part">Courrier
			D&eacute;part</mat-option> </mat-select> </mat-form-field>
		</div>
		<div class="col-md-6">
			<mat-form-field> <mat-select placeholder="Nature"
				[(ngModel)]="newCourrier.nature"> <mat-option
				value="Lettre">Lettre</mat-option> <mat-option value="Fax">Fax</mat-option>
			<mat-option value="E-mail">E-mail</mat-option> <mat-option
				value="Colis">Colis</mat-option> <mat-option value="Autre">Autre</mat-option>
			</mat-select> </mat-form-field>
		</div>

	</div>
	<div class="row">
		<div class="col-md-12">
			<mat-form-field placeholder="Adresse" style="width:100%">
			<textarea matInput placeholder="Adresse"
				[(ngModel)]="newCourrier.adresse"></textarea> </mat-form-field>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<mat-form-field style="width:100%"> <input matInput
				placeholder="R&eacute;f&eacute;rence"
				[(ngModel)]="newCourrier.reference"> </mat-form-field>
		</div>
		<div class="col-md-6">
			<mat-form-field> <mat-select
				placeholder="Entit&eacute;" [(ngModel)]="newCourrier.idEntite">
			<mat-option *ngFor="let entite of entites" value="{{ entite.id }}">
			{{ entite.nom }} </mat-option> </mat-select> </mat-form-field>
		</div>

	</div>
	<div class="row" *ngFor="let key of attachements.keys()">
		<div class="col-md-12">
			<div class="attachment-list">

				<div class="attachment" fxlayout="row"
					fxlayoutalign="space-between center"
					style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center space-between; align-items: center;">
					<div>
						<span class="filename">{{attachements.get(key)}}</span>
					</div>

					<button aria-label="Delete attachment" class="mat-icon-button"
						mat-icon-button="" (click)="removeAttachement(key)">
						<span class="mat-button-wrapper"> <mat-icon
								class="s-16 mat-icon material-icons" role="img"
								aria-hidden="true">close</mat-icon>
						</span>
						<div class="mat-button-ripple mat-ripple mat-button-ripple-round"
							matripple=""></div>
						<div class="mat-button-focus-overlay"></div>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div mat-dialog-actions>
	<button class="col-md-3" mat-button (click)="saveCourrier()"
		mat-raised-button color="primary">Enregistrer</button>
	<button mat-button (click)="addAttachement('coucou.png')" mat-icon-button>
		<span class="mat-button-wrapper"> <mat-icon
				class="mat-icon material-icons" role="img" aria-hidden="true">attach_file</mat-icon>
		</span>
		<div class="mat-button-ripple mat-ripple mat-button-ripple-round"
			matripple=""></div>
		<div class="mat-button-focus-overlay"></div>
	</button>
	<button class="col-md-2 ml-auto" mat-button
		[mat-dialog-close]="data.animal" mat-raised-button cdkFocusInitial>Fermer</button>
</div>