<h1 mat-dialog-title>
  {{title}}
</h1>
<div mat-dialog-content>
  <div fxlayout="row">
    <mat-tab-group>
      <mat-tab label="COURRIER">
        <div class="col-md-12" style="margin-top:5px;">
          <div class="row">
            <div class="col-md-12">
              <mat-form-field style="width:100%">
                <input matInput placeholder="Objet" [(ngModel)]="courrier.titre">
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Type" [(ngModel)]="courrier.type">
                  <mat-option value="Courrier Arriv&eacute;e">Courrier Arriv&eacute;e</mat-option>
                  <mat-option value="Courrier D&eacute;part">Courrier D&eacute;part
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-select placeholder="Nature" [(ngModel)]="courrier.nature">
                  <mat-option value="Lettre">Lettre</mat-option>
                  <mat-option value="Fax">Fax</mat-option>
                  <mat-option value="E-mail">E-mail</mat-option>
                  <mat-option value="Colis">Colis</mat-option>
                  <mat-option value="Autre">Autre</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Date" [(ngModel)]="courrier.datecourrier">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <mat-form-field style="width:100%">
                <input matInput placeholder="R&eacute;f&eacute;rence" [(ngModel)]="courrier.reference"> </mat-form-field>
            </div>
            <div class="col-md-6">
              <mat-form-field>
                <mat-select [compareWith]="compareFn" placeholder="Entit&eacute; Organistionnelle" [(ngModel)]="courrier.entite">
                  <mat-option *ngFor="let entite of entites" [value]="entite">
                    {{ entite.nom }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field style="width:100%">
                <textarea matInput placeholder="Description" [(ngModel)]="courrier.description"></textarea>
              </mat-form-field>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <mat-form-field placeholder="Adresse" style="width:100%">
                <textarea matInput placeholder="Adresse" [(ngModel)]="courrier.adresse"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="DESTINATAIRES">
        <div class="box" style="margin:8px 0 0 0">
          <div fxlayout="row" fxlayoutalign="space-between center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center space-between; align-items: center;">
            <div>
              <mat-form-field style="width: 61px !important;">
                <mat-select placeholder="Action" [(ngModel)]="editedDiffusion.action">
                  <mat-option value="A">A</mat-option>
                  <mat-option value="CC">CC</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-select [compareWith]="compareFn"  placeholder="Destinataire" [(ngModel)]="editedDiffusion.entite">
                  <mat-option  (onSelectionChange)="change($event, entite)" *ngFor="let entite of entites" [value]="entite">
                    {{ entite.nom }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-select [compareWith]="compareFn" placeholder="Responsable" [(ngModel)]="editedDiffusion.responsable">
                  <mat-option *ngFor="let user of users" [value]="user">
                    {{user.nom+" "+user.prenom}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field>
                <mat-select [compareWith]="compareFn" placeholder="Instruction" [(ngModel)]="editedDiffusion.instruction">
                  <mat-option *ngFor="let instruction of instructions" [value]="instruction">
                    {{ instruction.libelle }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <mat-form-field style="width: 60px !important;">
                <mat-select placeholder="Délai" [(ngModel)]="editedDiffusion.delai">
                  <mat-option value="2">2 J</mat-option>
                  <mat-option value="3">3 J</mat-option>
                  <mat-option value="4">4 J</mat-option>
                  <mat-option value="5">5 J</mat-option>
                  <mat-option value="6">6 J</mat-option>
                  <mat-option value="7">7 J</mat-option>
                  <mat-option value="8">8 J</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div>
              <button aria-label="add diffusion" class="mat-icon-button" mat-icon-button="" (click)="addDiffusion()" [ngClass]="{'hiddden': selectedRowID != -1}">
                <span class="mat-button-wrapper">
                  <mat-icon class="s-16 mat-icon material-icons" role="img" aria-hidden="true">add</mat-icon>
                </span>
              </button>
              <!-- <button aria-label="edit diffusion" class="mat-icon-button" mat-icon-button="" (click)="editDiffusion()" [ngClass]="{'hiddden': selectedRowID == -1}">
                <span class="mat-button-wrapper">
                  <mat-icon class="s-16 mat-icon material-icons" role="img" aria-hidden="true">edit</mat-icon>
                </span>
              </button>-->
              <button aria-label="Delete diffusion" color="warn" class="mat-icon-button" mat-icon-button="" (click)="removeDiffusion()"
                [ngClass]="{'hiddden': selectedRowID == -1}">
                <span class="mat-button-wrapper">
                  <mat-icon class="s-16 mat-icon material-icons" role="img" aria-hidden="true">delete</mat-icon>
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="box" style="margin:8px 0 0 0">
          <div fxlayout="row" fxFill>
            <mat-table [dataSource]="diffusionDataSource" matSort>
              <ng-container matColumnDef="action" style="width: 40px !important;">
                <mat-header-cell *matHeaderCellDef>action</mat-header-cell>
                <mat-cell *matCellDef="let dest">
                  {{dest.action}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="entite" style="width: 120px !important;">
                <mat-header-cell *matHeaderCellDef>Destinataire</mat-header-cell>
                <mat-cell *matCellDef="let dest">
                  {{dest.entite.nom}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="responsable">
                <mat-header-cell *matHeaderCellDef>Responsable</mat-header-cell>
                <mat-cell *matCellDef="let dest">
                  {{dest.responsable.nom!=null?dest.responsable.nom+" "+dest.responsable.prenom:""}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="instruction">
                <mat-header-cell *matHeaderCellDef>Instruction</mat-header-cell>
                <mat-cell *matCellDef="let dest">
                  {{dest.instruction.libelle}}
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="delai">
                <mat-header-cell *matHeaderCellDef>Delai</mat-header-cell>
                <mat-cell *matCellDef="let dest">
                  {{dest.delai?dest.delai+" J":""}}
                </mat-cell>
              </ng-container>
              <!-- 
                <ng-container matColumnDef="reponse">
                          <mat-header-cell *matHeaderCellDef>Reponse</mat-header-cell>
                          <mat-cell *matCellDef="let dest">
                            {{dest.reponse=="O" ?"OUI":"NON"}}
                          </mat-cell>
                </ng-container>
              -->
              <mat-header-row class="bg-warning" *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectDiffusionRow(row)" [ngClass]="{'highlight': selectedRowIndex == row.id}">
              </mat-row>
            </mat-table>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="ATTACHEMENTS">
        <div class="row" style="margin:8px 0 0 0">
          <div class="col-md-12">
            <button mat-button (click)="addDocument()" mat-icon-button>
              <span class="mat-button-wrapper">
                <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">attach_file</mat-icon>
              </span>
              <div class="mat-button-ripple mat-ripple mat-button-ripple-round" matripple=""></div>
              <div class="mat-button-focus-overlay"></div>
            </button>
          </div>
        </div>
        <div class="row" style="margin:8px 0 0 0">
          <div class="col-md-12" *ngFor="let doc of courrier.documents">
            <div class="attachment-list">
              <div class="attachment" fxlayout="row" fxlayoutalign="space-between center" style="flex-direction: row; box-sizing: border-box; display: flex; max-height: 100%; place-content: center space-between; align-items: center;">
                <div>
                  <span class="filename">{{doc.fichier}}</span>
                </div>
                <button aria-label="Delete attachment" class="mat-icon-button" mat-icon-button="" (click)="removeDocument(doc)">
                  <span class="mat-button-wrapper">
                    <mat-icon class="s-16 mat-icon material-icons" role="img" aria-hidden="true">close</mat-icon>
                  </span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
<div mat-dialog-actions>
  <button class="col-md-3" mat-button (click)="saveCourrier()" mat-raised-button color="primary">Enregistrer</button>
  <button class="col-md-2 ml-auto" mat-button [mat-dialog-close]="data.animal" mat-raised-button cdkFocusInitial>Fermer</button>
</div>