<div class="row">
  <div class="col-md-6 text-right">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Rechercher" [(ngModel)]="query" (keyup.enter)="rechercherCourrier()">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div>
      <div class="example-header">
      </div>
      <button mat-fab color="warn" (click)="openAddDialog()">
        <mat-icon>add</mat-icon>
      </button>
      <mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="reference">
          <mat-header-cell *matHeaderCellDef style="margin-left:40px;">R&eacute;f&eacute;rence</mat-header-cell>
          <mat-cell *matCellDef="let courrier" style="margin-left:40px;">{{courrier.reference}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="titre">
          <mat-header-cell *matHeaderCellDef>Titre</mat-header-cell>
          <mat-cell *matCellDef="let courrier">{{courrier.titre}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="type">
          <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
          <mat-cell *matCellDef="let courrier">{{courrier.type}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="dateCourrier">
          <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
          <mat-cell *matCellDef="let courrier">{{courrier.datecourrier | date:'dd/MM/yyyy' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="nature">
          <mat-header-cell *matHeaderCellDef>Nature</mat-header-cell>
          <mat-cell *matCellDef="let courrier">{{courrier.nature}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="action">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let courrier">
            <button mat-icon-button color="basic" (click)="openUpdateDialog(courrier)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button color="warn" (click)="deleteconfirmDialog(courrier)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row class="bg-warning" *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]">
      </mat-paginator>
    </div>
  </div>
</div>
