.mat-form-field {
	font-size: 14px;
	width: 100%;
}

.attachment-list
	{
	font-size: 13px;
	padding-top: 0px;
	margin-bottom: 5px;
}

.attachment-list .attachment
	{
	background-color: rgba(0, 0, 0, .08);
	border: 1px solid rgba(0, 0, 0, .16);
	padding-left: 16px;
	border-radius: 2px
}

.attachment-list .attachment .filename
	{
	font-weight: 500
}

.attachment-list .attachment:last-child
{
}

.mat-fab{
    top: 28px;
    left: 4px;
    z-index: 999;
  }

  .mat-header-cell.mat-sort-header-sorted {
    color: black;
	}
	h3{
		font-size: 16px;
		width: 100%;
		text-align: center;
		border: 1px solid gray;
		margin-bottom: 20px;
	}
	.desteniataireACC{
		min-width: 20px !important;
		border: 1px solid;
		margin-left: 2px;
		padding: 0;
		float: left;
		background: yellowgreen;
	}
	.mat-column-select {
		overflow: initial;
	  }
