<div class="login-page sidebar-collapse">
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
        <div class="container">
            <div class="col-md-4  content-center">
                <div class="card card-login card-plain">
                    <form class="form" method="" action="">
                        <div class="header header-primary text-left">
                            <p>Se connecter</p>
                        </div>
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <input type="text" class="form-control" placeholder="Nom d'utilisateur">
                            </div>
                            <div class="input-group form-group-no-border input-lg">
                                <input type="text" placeholder="Mot de passe" class="form-control" />
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-primary  btn-lg btn-block" (click)="seConnecter()">
                                Se connecter
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>