<div class="login-page">
    <div class="page-header" filter-color="orange">
        <div class="page-header-image" style="background-image:url(../assets/img/login.jpg)"></div>
        <div class="container">
            <div class="col-md-4 content-center">
                <div class="card card-login card-plain">
                    <form class="form" name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
                        <div class="header header-primary text-center">
                            <div class="logo-container">
                                <img src="../assets/img/now-logo.png" alt="">
                            </div>
                        </div>
                        <div class="content">
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons users_circle-08"></i>
                                </span>
                                <input type="text" [(ngModel)]="model.username" name="username" class="form-control" placeholder="Nom d'utilisateur">
                            </div>
                            <div class="input-group form-group-no-border input-lg">
                                <span class="input-group-addon">
                                    <i class="now-ui-icons objects_key-25"></i>
                                </span>
                                <input type="password" [(ngModel)]="model.password" name="password" placeholder="Mot de passe" class="form-control" />
                            </div>
                            <div class="footer text-center">
                                    <button [disabled]="loading" class="btn btn-primary btn-round btn-lg btn-block">
                                        Se connecter
                                    </button>
                            </div>
                            <alert></alert>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>