
<h1 mat-dialog-title>Ajout d'une nouvelle entité</h1>
<div mat-dialog-content>

<div class="row">
  
  <div class="col-md-6">
    
    <mat-form-field>
      <input placeholder="Nom" matInput [(ngModel)]="entite.nom">
    </mat-form-field>
  </div>
  <div class="col-md-6">
    
    <mat-form-field>
        <mat-select  placeholder="Type de l'Entite Organistionnelle" [(ngModel)]="entite.id">              
          <mat-option *ngFor="let entite of entites" value="{{entite.id}}">{{ entite.nom }}</mat-option>
         
        </mat-select>
      </mat-form-field>
  </div>
</div>
</div>

<div mat-dialog-actions>

  <button class="col-md-2" mat-button (click)="onClick(entite)" mat-raised-button color="primary">Ajouter</button>
  <button class="col-md-2 ml-auto" mat-button [mat-dialog-close]="data.animal" mat-raised-button cdkFocusInitial>Fermer</button>
</div>
