<h1 mat-dialog-title>
  {{title}}
</h1>
<div mat-dialog-content>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input placeholder="Nom" matInput [(ngModel)]="user.nom">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input placeholder="Prénom" matInput [(ngModel)]="user.prenom">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input placeholder="Login" matInput [(ngModel)]="user.login">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input placeholder="Mot de passe" type="password" matInput [(ngModel)]="user.mot_passe">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <input type="email" placeholder="E-mail" matInput [(ngModel)]="user.email">
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <mat-form-field>
        <input placeholder="Role" matInput [(ngModel)]="user.role">
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mat-form-field>
        <mat-select [compareWith]="compareFn" placeholder="Entite Organistionnelle" [(ngModel)]="user.entite">
          <mat-option *ngFor="let entite of entites" [value]="entite">
            {{ entite.nom }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <input type="hidden" [(ngModel)]="user.entite" />
    </div>
  </div>
</div>
<mat-dialog-actions>
  <button class="col-md-2" mat-button (click)="saveUser()" mat-raised-button color="primary">Enregistrer</button>
  <button class="col-md-2 ml-auto" mat-button [mat-dialog-close]="" mat-raised-button cdkFocusInitial>Fermer</button>
</mat-dialog-actions>