tr{
    color:red;
   
}
.recherche_p {
    background-color: #E8B960;   
    border-style: solid;   
    border-width: 1px;   
    border-color: #E8B960;   
    padding: 5px 10px 5px 10px;  
    width: 98.5%;  
    box-sizing: border-box;   
    font-family: PT sans;   
    font-size: 13px;   
    font-weight: normal;   
    letter-spacing: 2px;   
    margin: 10px 0 0 0;  
    text-transform: uppercase;   
    color: #ffffff;  
}
