<div class="wrapper">
    <div class="section">
        <div class="container">
            <h3 class="title">RECHERCHE COURRIER </h3>
            <div class="row">
                <div class="col-md-12">
                  
                    <table class="table">
                        <tr>
                            <td>ID</td>
                            <td>TYPE</td>
                            <td>NATURE</td>
                        </tr>
                        <tr *ngFor="let d of data" >
                            <td>{{d.id}}</td>
                            <td>{{d.type}}</td>
                            <td>{{d.categorie}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>