@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.section{
    background: #E4D0AF;
}

.full-width-dialog .mat-dialog-container {
    max-width: 100vw !important;
}
h3{
    margin-bottom: 0px;
}